# Download data

In [1]:
import os, zipfile
zip_file_name = 'spaceship-titanic'

file_check = ['train.csv','test.csv','sample_submission.csv']
file_check_bool = sum([os.path.exists(x) for x in file_check])
if file_check_bool != len(file_check):
    !kaggle competitions download -c {zip_file_name}
    with zipfile.ZipFile(zip_file_name+".zip","r") as zip_ref:
        zip_ref.extractall(os.getcwd())
    os.remove(zip_file_name+".zip")
    print('Download Complete')

Downloading spaceship-titanic.zip to c:\Users\chand\Desktop\JOB HUNT\learn\Kaggle_submission\Space Titanic

Download Complete

  0%|          | 0.00/299k [00:00<?, ?B/s]
100%|██████████| 299k/299k [00:00<00:00, 5.52MB/s]

# Import training data

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
train_df = pd.read_csv('train.csv')
train_df.columns.values

array(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination',
       'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
       'VRDeck', 'Name', 'Transported'], dtype=object)

The data has 13 feature, 1 output(Transported).

In [28]:
train_df.describe(include=['O'])

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name
count,8693,8492,8476,8494,8511,8490,8493
unique,8693,3,2,6560,3,2,8473
top,0001_01,Earth,False,G/734/S,TRAPPIST-1e,False,Gollux Reedall
freq,1,4602,5439,8,5915,8291,2

In [29]:
train_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

# Feature Engineering
Passenger id To group number and number of group

Hypothesis, everyone in a group will be transported together

In [103]:
from collections import Counter

group = train_df.PassengerId.str.extract(r'(^.+)\_').astype(int).to_numpy().flatten()
train_df['group'] = group
group_count = Counter(group)
group_val = np.array([group_count[i] for i in group]).flatten()
train_df['group_size'] = group_val

In [104]:
train_df

0       1
1       1
2       2
3       2
4       1
       ..
8688    1
8689    1
8690    1
8691    2
8692    2
Name: group_size, Length: 8693, dtype: int32